@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aplicação desenvolvida como CRUD completo (Inserir, Alterar, Excluir e Selecionar) com interface de manipulação.</p>
    <p>Aplicação para cadastro de pessoa física contendo os seguintes campos:</p>
    <ul style="list-style: none;">
        <li>Nome completo</li>
        <li>CPF</li>
        <li>Data de nascimento</li>
        <li>Valor da renda</li>
    </ul>
</div>
